.App{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 80px;
  
}
.react-chatbot-kit-chat-header{
  background-color: #2898ec;
  color: white;
}
.react-chatbot-kit-chat-message-container{
  background-color: #f2f6ff;
}
.react-chatbot-kit-user-chat-message{
  background-color:#d8d8d8 ;
}
.react-chatbot-kit-user-avatar-container {
  background-color: #2898ec;
}
.react-chatbot-kit-chat-inner-container{
  background: none;
}
.hello{
  
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2898ec;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
 
}
.react-chatbot-kit-chat-container{
  width: 320px;
} 
.react-chatbot-kit-chat-message-container {

  overflow-x: hidden;
 
 }
 /* .react-chatbot-kit-chat-input-form{
  display: none;
 } */
 
 @media (max-width: 600px) {
  .App {
    padding-right: 20px; /* Reduced padding for smaller screens */
    justify-content: center; /* Center align chatbot on smaller screens */
  }

  .react-chatbot-kit-chat-container {
    width: 100%; /* Full width on small screens */
    max-width: 100%; /* Ensures container does not overflow */
  }

  .react-chatbot-kit-chat-header, 
  .react-chatbot-kit-chat-message-container, 
  .react-chatbot-kit-user-chat-message, 
  .react-chatbot-kit-user-avatar-container {
    font-size: 14px; /* Smaller font size for better readability */
  }

  button {
    width: 60px; /* Smaller button for mobile */
    height: 40px;
    font-size: 10px;
  }
  .hello{
    width: 40px; /* Smaller button for mobile */
    height: 40px;
    font-size: 10px;
  }
}